body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0e387a;
    font-family: Arial, sans-serif;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 100px; /* Añade un margen derecho para separación */
}

.logo-container img {
    width: 410px; /* Ajusta el tamaño según sea necesario */
}

.container {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Ajusta el ancho máximo del contenedor */
    padding: 2rem;
    margin: 0 30px; /* Añade un margen para mantener el contenedor centrado */
    border: 3px solid #0e387a; /* Añade un borde azul */
}

.login-container {
    flex: 1;
    padding: 2rem;
}

.login-container h2 {
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
}

.login-container label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

.login-container input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #0e387a;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #092d5c;
}

.login-container .links {
    margin-top: 1rem;
    text-align: center;
}

.login-container .links a {
    display: block;
    color: #0e387a;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.login-container .links a:hover {
    text-decoration: underline;
}
