.deudores-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  min-width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.deudores-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
}

.deudores-table th, .deudores-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deudores-table th {
  background-color: #002651;
  color: white;
}

.deudores-table td {
  vertical-align: middle;
}

.actions-cell {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.edit-button, .delete-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button:hover, .delete-button:hover {
  opacity: 0.8;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pagination button.active {
  background-color: #006EDF;
}

.pagination button:hover:not(.active) {
  background-color: #f2f2f2;
  color: #000;
}
.section-title-deudores {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.add-deudor-button {
  background-color: #006EDF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.add-deudor-button:hover {
  background-color: #0056b3;
}

.search-bar {
  width: 100%;
  margin-bottom: 20px;
}

.input.search-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
