/* Contenedor principal */
.edit-prod-container {
  max-width: 800px; /* Ajustar el ancho máximo */
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  display: flex; /* Para dividir el contenedor en dos partes */
  flex-direction: column;
  align-items: center;
}

/* Título del formulario */
.edit-prod-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Formulario */
.edit-prod-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  gap: 20px;
}

/* Campos que ocupan toda la fila */
.edit-prod-form-group-full {
  grid-column: span 2; /* Ocupa ambas columnas */
}

/* Grupo de formularios */
.edit-prod-form-group {
  display: flex;
  flex-direction: column;
}

/* Etiquetas */
.edit-prod-form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

/* Campos de entrada */
.edit-prod-form-group input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Estilo para campos en foco */
.edit-prod-form-group input:focus {
  border-color: #006edf;
  outline: none;
}

/* Botones */
.edit-prod-button-group {
  display: flex;
  justify-content: space-between; /* Para alinear los botones */
  margin-top: 20px;
  width: 100%;
  grid-column: span 2; /* Ocupa ambas columnas */
}

/* Estilo individual de botones */
.edit-prod-button-group button {
  padding: 15px 30px;
  background-color: #006edf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

/* Efecto hover para botones */
.edit-prod-button-group button:hover {
  background-color: #0056b3;
}

/* Botón de cancelar (estilo secundario) */
.edit-prod-button-group .edit-prod-cancel-button {
  background-color: #f44336; /* Rojo para botón de cancelar */
}

.edit-prod-button-group .edit-prod-cancel-button:hover {
  background-color: #d32f2f; /* Rojo más oscuro para hover */
}

/* Iconos en botones */
.edit-prod-button-group .icon {
  margin-left: 10px;
}
