.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 200px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  background-color: white;
}

.product-card.out-of-stock {
  background-color: #f0f0f0 !important;
  color: #a0a0a0 !important;
}

.product-info {
  padding: 10px;
}

.product-info h3 {
  margin: 10px 0;
}

.product-info p {
  margin: 5px 0;
}

.button-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin-top: 10px;
}

.button-group button {
  flex: 1;
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.button-group .info-button {
  grid-column: span 2;
}

.delete-button {
  background-color: red !important;
}

.edit-button {
  background-color: #0275d8;
}

.delete-button:hover {
  background-color: #900c3f !important;
}

.edit-button:hover {
  background-color: #025aa5;
}

.info-button {
  background-color: #17a2b8 !important;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
}

.info-button:hover {
  background-color: #138496 !important;
}
