@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

    * {
      font-family: 'Inter', sans-serif;
    }

html, body, #root {
    background-color: #B2DFFF;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}